{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>
                {{ heading_title }}
            </h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ text_edit }}
                </h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="input-status">
                            {{ entry_status }}
                        </label>
                        <div class="col-xs-4">
                            <select name="status" id="input-status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">
                                        {{ text_enabled }}
                                    </option>
                                    <option value="0">
                                        {{ text_disabled }}
                                    </option>
                                {% else %}
                                    <option value="1">
                                        {{ text_enabled }}
                                    </option>
                                    <option value="0" selected="selected">
                                        {{ text_disabled }}
                                    </option>
                                {% endif %}
                            </select>
                        </div>
                        
{#                        <label class="col-xs-2 control-label" for="input-imagick-status">#}
{#                            {{ entry_imagick_status }}#}
{#                        </label>#}
{#                        <div class="col-xs-4">#}
{#                            <select name="imagick_status" id="input-imagick-status" class="form-control">#}
{#                                {% if config.imagick_status %}#}
{#                                    <option value="1" selected="selected">#}
{#                                        {{ text_enabled }}#}
{#                                    </option>#}
{#                                    <option value="0">#}
{#                                        {{ text_disabled }}#}
{#                                    </option>#}
{#                                {% else %}#}
{#                                    <option value="1">#}
{#                                        {{ text_enabled }}#}
{#                                    </option>#}
{#                                    <option value="0" selected="selected">#}
{#                                        {{ text_disabled }}#}
{#                                    </option>#}
{#                                {% endif %}#}
{#                            </select>#}
{#                        </div>#}
                    </div>
                    
                    <div class="form-group">
                        <label for="token" class="control-label col-xs-2">{{ text_token }}</label>
                        <div class="col-xs-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user-secret"></i>
                                </div>
                                <input id="token" name="token" placeholder="{{ text_token_placeholder }}" type="text"
                                       class="form-control" value="{{ config.token }}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="full-reindex-timeout"
                               class="control-label col-xs-10">{{ text_full_reindex_timeout }}</label>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <input id="full-reindex-timeout" name="full-reindex-timeout"
                                       placeholder="{{ full_reindex_timeout_placeholder }}"
                                       type="number"
                                       min="1"
                                       max="408" step="1"
                                       class="form-control"
                                       value="{% if config['full-reindex-timeout'] is defined %}{{ config['full-reindex-timeout'] }}{% else %}24{% endif %}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="fast-reindex-timeout"
                               class="control-label col-xs-10">{{ text_fast_reindex_timeout }}</label>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <input id="fast-reindex-timeout" name="fast-reindex-timeout"
                                       placeholder="{{ full_reindex_timeout_placeholder }}"
                                       type="number"
                                       min="1"
                                       max="24" step="1"
                                       class="form-control"
                                       value="{% if config['fast-reindex-timeout'] is defined %}{{ config['fast-reindex-timeout'] }}{% else %}4{% endif %}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        
                        <label for="resize-width"
                               class="control-label col-xs-2">{{ text_resize_width }}</label>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input id="fast-reindex-timeout" name="resize-width"
                                       placeholder="{{ text_resize_width_placeholder }}"
                                       type="number"
                                       min="100"
                                       max="2000" step="10"
                                       class="form-control"
                                       value="{% if config['resize-width'] is defined %}{{ config['resize-width'] }}{% else %}200{% endif %}">
                            </div>
                        </div>
                        
                        <label for="resize-height"
                               class="control-label col-xs-2">{{ text_resize_height }}</label>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input id="fast-reindex-timeout" name="resize-height"
                                       placeholder="{{ text_resize_height_placeholder }}"
                                       type="number"
                                       min="100"
                                       max="2000" step="10"
                                       class="form-control"
                                       value="{% if config['resize-height'] is defined %}{{ config['resize-height'] }}{% else %}200{% endif %}">
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </form>
            
            
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <h3 class="panel-title">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{ text_list }}
                </h3>
                <div class="pull-right ">
                    <a href="{{ download }}" data-toggle="tooltip" title="{{ button_download }}"
                       class="btn btn-sm btn-primary">
                        <i class="fa fa-download"></i>
                    </a>
                    <a onclick="confirm('{{ text_confirm }}') ? location.href='{{ clear }}' : false;"
                       data-toggle="tooltip" title="{{ button_clear }}" class="btn btn-sm btn-danger">
                        <i class="fa fa-eraser"></i>
                    </a>
                </div>
            
            </div>
            <div class="panel-body">
        <textarea wrap="off" rows="25" readonly class="form-control">
          {{ log }}
        </textarea>
            </div>
        </div>
    </div>
</div>
{{ footer }}
